.DS_Store
.project
.settings
salesforce.schema
Referenced Packages
docs
apex-scripts
logs
config
deploy-utils
*.sublime-project
*.sublime-workspace
.DS_STORE
.DS_Store
lib
stage
build.xml
build.properties
*.sublime-settings
deploy-stage
*.pyc
RunTest.log
update_layouts.sh
resource-bundles
dev_ns.sh
mm.log
*.orig
debug
*.iml
.idea/
IlluminatedCloud/
